.App {
  text-align: center;
<<<<<<< HEAD
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #222;
  margin: 20px 0;
}

h2 {
  color: #0055aa;
  margin-bottom: 10px;
}

p {
  color: #666;
=======
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> cc2bb30 (Initialize project using Create React App)
}
